@import "tailwindcss";
/*
Kleurenpalet:
Primaire kleur: #E077D
Secundaire kleur: #28AFB0
Tertiaire kleur: #55C1FF
Buttons: #E1DD8F
Sidebar: #6622CC

Fonts:
H1 → Lexend Deca
H2 → Roboto Condensed
<p> → Roboto Mono
<p>antwoorden goed/fout → Caveat
*/
